<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
		<script src="./js/angular-1.3.0/angular.min.js"></script>
	<script src="MVC2.js"></script>
</head>
<body>
	<div ng-controller="CommonController">
		<div ng-controller="Controller1">
			<p>{{greeting.text}},Angular</p>
			<button ng-click="test1()">test1</button>
		</div>
		<div ng-controller="Controller2">
			<p>{{greeting.text}},Angular</p>
			<button ng-click="test2()">test2</button>
		</div>
		<button ng-click="commonFn()">通用</button>
	</div>

</body>
</html>